@CHARSET "UTF-8";

th {
	background:steelblue;
}

#list {
	font-size: 80%;
	float: left;
	width: 50%;
}

#detail {
	float: left;
	width: 25%;
}

#login {
	float: left;
	width: 25%;
}

#insertBlock {
	margin: 5px 0px
}

div .error {
	color: red;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
